<a href="https://colab.research.google.com/github/aleks-haksly/leetcode/blob/main/pandas/pandas_medium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

176. Second Highest Salary

https://leetcode.com/problems/second-highest-salary/description/

```sql
SELECT max(salary) as SecondHighestSalary
FROM (
SELECT
    id, salary,
    dense_rank() OVER (ORDER BY salary DESC) AS rn
FROM Employee e)
WHERE rn = 2
```

In [ ]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [ ]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    result = employee.assign(rn = employee.salary.rank(method='dense', ascending=False)).query("rn == 2")[['salary']].rename({"salary":"SecondHighestSalary"}, axis=1)
    return result.head(1) if result.shape[0] else pd.DataFrame([{"SecondHighestSalary": None}])

177. Nth Highest Salary

https://leetcode.com/problems/nth-highest-salary/description/

```sql
CREATE OR REPLACE FUNCTION NthHighestSalary(N INT) RETURNS TABLE (Salary INT) AS $$
BEGIN
  RETURN QUERY (
    -- Write your PostgreSQL query statement below.
    SELECT max(sub.salary) FROM (
    SELECT
        e.salary,
        dense_rank() OVER (ORDER BY e.salary DESC) as rn
    FROM Employee e) sub
    WHERE sub.rn = N
      
  );
END;
$$ LANGUAGE plpgsql;
```

In [ ]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['Id', 'Salary']).astype({'Id':'Int64', 'Salary':'Int64'})

In [ ]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    result = employee.assign(rn = employee.salary.rank(method='dense', ascending=False)).query("rn == @N")[['salary']].rename({"salary":f"getNthHighestSalary({N})"}, axis=1)
    return result.head(1) if result.shape[0] else pd.DataFrame([{f"getNthHighestSalary({N})": None}])

178. Rank Scores

https://leetcode.com/problems/rank-scores/description/

```sql
SELECT
    score,
    dense_rank() OVER (ORDER BY score DESC) as rank
FROM Scores
ORDER BY score DESC
```

In [ ]:
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})

In [ ]:
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    return scores.assign(rank = scores.score.rank(method='dense', ascending=False))[['score','rank']].sort_values(by='score', ascending=False)

180. Consecutive Numbers

https://leetcode.com/problems/consecutive-numbers/

```sql
-- Write your PostgreSQL query statement below
SELECT
    DISTINCT consecutivenums FROM (
SELECT
    num as ConsecutiveNums,
    lag(num) OVER (ORDER BY id) as b,
    lead(num) OVER (ORDER BY id) as a
 FROM Logs) sub
 WHERE ConsecutiveNums = a AND ConsecutiveNums = b
 ```

In [2]:
data = [[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]]
logs = pd.DataFrame(data, columns=['id', 'num']).astype({'id':'Int64', 'num':'Int64'})

In [17]:
def consecutive_numbers(logs: pd.DataFrame) -> pd.DataFrame:
    condition = ((logs.num.shift(1) == logs.num) & ((logs.num.shift(-1) == logs.num)))
    return logs[condition]['num'].drop_duplicates().rename('ConsecutiveNums').to_frame()

184. Department Highest Salary

https://leetcode.com/problems/department-highest-salary/description/

```sql
SELECT
    d.name AS Department,
    sub.Employee,
    sub.Salary
FROM (
SELECT
    e.departmentId,
    e.name AS Employee ,
    salary AS Salary,
    RANK() OVER (PARTITION BY departmentId ORDER BY Salary DESC) as rnk
FROM Employee e) sub
LEFT JOIN Department d ON sub.departmentId = d.id
WHERE sub.rnk = 1
```

In [38]:
data = [[1, 'Joe', 70000, 1], [2, 'Jim', 90000, 1], [3, 'Henry', 80000, 2], [4, 'Sam', 60000, 2], [5, 'Max', 90000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

In [51]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    return employee[employee.groupby('departmentId')['salary']\
                    .rank(method='min', ascending=False) == 1].merge(department, how='left', left_on='departmentId', right_on='id')\
                    .rename({"name_y": "Department", "name_x": "Employee", "salary": "Salary"}, axis=1)[["Department", "Employee", "Salary"]]

550. Game Play Analysis IV

https://leetcode.com/problems/game-play-analysis-iv/

```sql
-- Write your PostgreSQL query statement below
WITH t AS (
SELECT
    a.player_id,
    min(a.event_date) + INTERVAL '1 day ' as next_day
FROM Activity a
GROUP BY a.player_id )

SELECT
ROUND(COUNT(a.player_id)*1.0 / (SELECT COUNT(DISTINCT player_id) FROM Activity), 2) AS fraction  
FROM Activity a
JOIN t ON a.player_id = t.player_id AND t.next_day = a.event_date

```

In [53]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-03-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [98]:
def gameplay_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    next_day = activity.groupby("player_id").event_date.apply(lambda x: x.min() + pd.DateOffset(days=1))
    fraction = round(activity.assign(next_day=activity.player_id.map(next_day)).query("event_date == next_day").player_id.nunique() / activity.player_id.nunique(), 2)
    return pd.DataFrame([fraction], columns=['fraction'], index=[0])

570. Managers with at Least 5 Direct Reports

https://leetcode.com/problems/managers-with-at-least-5-direct-reports/description/

```sql
SELECT
    e1.name
FROM Employee e1
JOIN Employee e2 ON e1.id = e2.managerId
GROUP BY e1.id, e1.name
HAVING count(e2.managerId) >= 5
```

In [116]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [127]:
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    filtered = employee.groupby('managerId', ).agg(reporting = ('id', 'count')).query('reporting >=5', engine='python')
    return employee[employee.id.isin(filtered.index)][['name']]

585. Investments in 2016

https://leetcode.com/problems/investments-in-2016/description/

```sql
WITH uniqu_ltt AS(
SELECT
    lat::text||' '||lon::text as ltconc
FROM Insurance i
GROUP BY lat::text||' '||lon::text
HAVING count(*) = 1),

repeted_tiv AS (
SELECT
tiv_2015
FROM Insurance i
GROUP BY tiv_2015
HAVING COUNT(tiv_2015) > 1)

SELECT
ROUND(sum(tiv_2016)::NUMERIC, 2) as tiv_2016
FROM Insurance
WHERE tiv_2015 in (SELECT tiv_2015 FROM repeted_tiv) AND lat::text||' '||lon::text IN (SELECT ltconc FROM uniqu_ltt)
```

In [149]:
data = [[1, 10, 5, 10, 10], [2, 20, 20, 20, 20], [3, 10, 30, 20, 20], [4, 10, 40, 40, 40]]
insurance = pd.DataFrame(data, columns=['pid', 'tiv_2015', 'tiv_2016', 'lat', 'lon']).astype({'pid':'Int64', 'tiv_2015':'Float64', 'tiv_2016':'Float64', 'lat':'Float64', 'lon':'Float64'})

In [151]:
def find_investments(insurance: pd.DataFrame) -> pd.DataFrame:
    uniqu_ltt  = insurance.assign(ltconc = insurance.lat.astype(str).str.cat(insurance.lon.astype(str), sep=' ')).groupby('ltconc').agg(ltconc=('pid', 'count')).query("ltconc == 1", engine='python').index
    repeted_tiv  = insurance.groupby('tiv_2015').agg(tiv_2015_cnt = ('tiv_2015', 'count')).query("tiv_2015_cnt > 1", engine='python').index
    tiv_2016 = insurance[insurance.tiv_2015.isin(repeted_tiv) & insurance.lat.astype(str).str.cat(insurance.lon.astype(str), sep=' ').isin(uniqu_ltt)].tiv_2016.sum().round(2)
    return pd.DataFrame([tiv_2016], columns=['tiv_2016'], index=[0])