<a href="https://colab.research.google.com/github/aleks-haksly/leetcode/blob/main/pandas/pandas_hard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

185. Department Top Three Salaries

https://leetcode.com/problems/department-top-three-salaries/description/

```sql

SELECT d.name as Department, sub.name as Employee, sub.salary as Salary
FROM (
SELECT
    e.departmentId , e.name, e.salary,
    dense_rank() OVER (PARTITION BY departmentId ORDER BY salary DESC) as rnk
FROM Employee e) sub
LEFT JOIN Department d ON d.id = sub.departmentId
WHERE sub.rnk < 4
```

In [2]:
data = [[1, 'Joe', 85000, 1], [2, 'Henry', 80000, 2], [3, 'Sam', 60000, 2], [4, 'Max', 90000, 1], [5, 'Janet', 69000, 1], [6, 'Randy', 85000, 1], [7, 'Will', 70000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

In [27]:
def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    return employee.assign(rnk = employee.groupby('departmentId').salary.rank(method='dense', ascending=False))\
                    .query('rnk <= 3', engine='python')\
                    .merge(department, how='left', left_on='departmentId', right_on='id', suffixes=['_emp', '_dpt'])\
                    [['name_dpt', 'name_emp', 'salary']].rename({'name_dpt': 'Department', 'name_emp': 'Employee', 'salary': 'Salary'}, axis=1)